[flake8]
max-line-length = 121
exclude =
    .git,
    __pycache__,
    dist,
    .venv/*,
    **/.venv/*
    node_modules/*,
    .direnv
# Temporarily ignore line length errors until fixed
extend-ignore = E501
