# This is a template, not a valid YAML file
/manifest_template.yml

# We hit compile errors in Apigee if these are auto formatted
# TODO - investigate
/infrastructure/proxies/live/apiproxy/resources/jsc/
/infrastructure/proxies/sandbox/apiproxy/resources/jsc/
