username=joebloggs
scope=nhs-xyz
aws_token_refresh= True
########## INT env 
# baseUrl=https://int.api.service.nhs.uk/immunisation-fhir-api/FHIR/R4
# auth_url=https://int.api.service.nhs.uk/oauth2-mock/authorize
# token_url=https://int.api.service.nhs.uk/oauth2-mock/token
# callback_url=https://oauth.pstmn.io/v1/callback
# S3_env=int
# aws_profile_name={your-aws-profile}
## Id/Secret values - please contact Dev or Test team to get these values
# Postman_Auth_client_Id=
# Postman_Auth_client_Secret=
# RAVS_client_Id=
# RAVS_client_Secret=
# MAVIS_client_Id=
# MAVIS_client_Secret=
# EMIS_client_Id=
# EMIS_client_Secret=
# SONAR_client_Id=
# SONAR_client_Secret=
# TPP_client_Id=
# TPP_client_Secret=
# MEDICUS_client_Id=
# MEDICUS_client_Secret=
########## Internal-QA env
baseUrl=https://internal-qa.api.service.nhs.uk/immunisation-fhir-api/FHIR/R4
auth_url=https://internal-qa.api.service.nhs.uk/oauth2-mock/authorize
token_url=https://internal-qa.api.service.nhs.uk/oauth2-mock/token
callback_url=https://oauth.pstmn.io/v1/callback
S3_env=internal-qa
aws_profile_name={your-aws-profile}
## Id/Secret values - please contact Dev or Test team to get these values
Postman_Auth_client_Id=
Postman_Auth_client_Secret=
RAVS_client_Id=
RAVS_client_Secret=
MAVIS_client_Id=
MAVIS_client_Secret=
EMIS_client_Id=
EMIS_client_Secret=
SONAR_client_Id=
SONAR_client_Secret=
TPP_client_Id=
TPP_client_Secret=
MEDICUS_client_Id=
MEDICUS_client_Secret=
