auth_url=https://internal-dev.api.service.nhs.uk/oauth2-mock/authorize
token_url=https://internal-dev.api.service.nhs.uk/oauth2-mock/token
callback_url=https://oauth.pstmn.io/v1/callback
# Obtain value from dev/testing team
STATUS_API_KEY=

username=aal3
scope=nhs-cis2

# Internal-dev PR environment
baseUrl=https://internal-dev.api.service.nhs.uk/immunisation-fhir-api/FHIR/R4-pr-123
aws_token_refresh=False
aws_profile_name=345594581768_DEV-IMMS-Devops

S3_env=pr-123
# LOCAL_RUN_WITHOUT_S3_UPLOAD = True
LOCAL_RUN_FILE_NAME=HPV_Vaccinations_v5_V0V8L_20251111T16304982.csv
AWS_DOMAIN_NAME=pr-123.imms.dev.vds.platform.nhs.uk

PROXY_NAME=immunisation-fhir-api-pr-123
# See README for details on how to obtain this
APIGEE_ACCESS_TOKEN={use-the-apigee-get-token-utility}
APIGEE_USERNAME={your-apigee-developer-email}
APIGEE_ENVIRONMENT={the-relevant-apigee-env}  # E.g. internal-dev, internal-qa
