username = joebloggs
scope = nhs-xyz
aws_token_refresh= True
########## INT env 
# baseUrl = https://int.api.service.nhs.uk/immunisation-fhir-api/FHIR/R4
# auth_url = https://int.api.service.nhs.uk/oauth2-mock/authorize
# token_url = https://int.api.service.nhs.uk/oauth2-mock/token
# callback_url = https://oauth.pstmn.io/v1/callback
# S3_env = int
# Postman_Auth_client_Id = p2M0a746AqLDyvTfrsgqMWY6Xns2kbCt
# Postman_Auth_client_Secret = 11V5Ar2GeAQvWg11
# RAVS_client_Id = A47fBy480Cy17GtBYO0GowAXWQVQRrjO
# RAVS_client_Secret = fXt0711kO1hqRa2b
# MAVIS_client_Id = 7htGrJOu2X0MZX0N8L7d4DoSWfZlv2lJ
# MAVIS_client_Secret = 7O3v7YQSVBGEgdb7
# EMIS_client_Id = qv1x3USP2B18MvUQWOYpo5neVYtbAde9
# EMIS_client_Secret = xnWJ1Wjj6d1u7swF
# SONAR_client_Id = Cs4a5KjwO3o9wIO9RPWm2LdG5EvUwdKV
# SONAR_client_Secret = dh0Tgd6ZphC4UhD7
# TPP_client_Id= F98LsHUdK17SqIkdYAQDemrr847cYirf
# TPP_client_Secret= C80xi3x6CciZ5ZaA
# MEDICUS_client_Id = 00VSH93hLYLcaPpWkKk9WvI8OpKGHTak
# MEDICUS_client_Secret = 6BNdxw040lXISk9g
# aws_profile_name = INT-IMMS-Devops-948139668566
########## Internal-QA env
baseUrl = https://internal-qa.api.service.nhs.uk/immunisation-fhir-api/FHIR/R4
auth_url = https://internal-qa.api.service.nhs.uk/oauth2-mock/authorize
token_url = https://internal-qa.api.service.nhs.uk/oauth2-mock/token
callback_url = https://oauth.pstmn.io/v1/callback
S3_env = internal-qa
Postman_Auth_client_Id = r1eF1qx7CMwjLDwtZoVs8UGyfV6tUdbe
Postman_Auth_client_Secret = YVF2yZpv6Dm8fJuB
RAVS_client_Id = 63cKlFY5ulDhHZzr9Tpd9NDHSOKG467C
RAVS_client_Secret = uT73l3MrHiKGvCgp
MAVIS_client_Id = 2cAA30k7Wt86dbDXt0afxHngRlCI1Mh6
MAVIS_client_Secret = yYK0nZJ8Fn8VGqLR
EMIS_client_Id = 818nW8FA4VqoGRL1UblC8I0dN9vdaiGy
EMIS_client_Secret = fU4A15jsyDhd6z6R
SONAR_client_Id = 5XJ5giEifFVZeJyDCCE2jsUOWOuG2h69
SONAR_client_Secret = 49h9uD96kQSwc2HY
TPP_client_Id = 2Pv7bBa55Bl6ZRK5AEtpOqI6MR5LXpoJ
TPP_client_Secret = 6ynNbQJu2P8CvVw8
MEDICUS_client_Id = Tx921OgPBQ9A8IedYlmjIjmDnwgDhRrx
MEDICUS_client_Secret = 7TZuY56d9XtuF1GT
aws_profile_name = DEV-IMMS-Devops-948139668566
