# Do not change these 3 values. We always use internal-dev for dynamic mock auth in all APIM Apigee non-prod environments
auth_url=https://internal-dev.api.service.nhs.uk/oauth2-mock/authorize
token_url=https://internal-dev.api.service.nhs.uk/oauth2-mock/token
callback_url=https://oauth.pstmn.io/v1/callback

# Obtain value from dev/testing team
STATUS_API_KEY=
username=
scope=

# Set all the below values based on the environment you are testing e.g. pr-xxx, internal-dev, internal-qa
baseUrl=https://internal-dev.api.service.nhs.uk/immunisation-fhir-api/FHIR/R4-pr-123
aws_token_refresh=False
aws_profile_name={your-aws-profile}

S3_env=pr-123
LOCAL_RUN_FILE_NAME=HPV_Vaccinations_v5_V0V8L_20251111T16304982.csv
AWS_DOMAIN_NAME=pr-123.imms.dev.vds.platform.nhs.uk

PROXY_NAME=immunisation-fhir-api-pr-123
# See README for details on how to obtain this
APIGEE_ACCESS_TOKEN={use-the-apigee-get-token-utility}
APIGEE_USERNAME={your-apigee-developer-email}
APIGEE_ENVIRONMENT={the-relevant-apigee-env}# E.g. internal-dev, internal-qa
