[report]
omit =
    shared/tests/*
    shared/tests/*/*
    shared/tests/*/*/*
    id_sync/tests/*
    id_sync/tests/*/*
    id_sync/tests/*/*/*
    ack_backend/tests/*
    ack_backend/tests/*/*
    ack_backend/tests/*/*/*
