[flake8]
max-line-length = 121

# TODO - add flake8-bugbear and switch to the following config?
# extend-select = B950
# extend-ignore = E203,E501,E701
extend-ignore = E203,E701

exclude =
    .git,
    __pycache__,
    dist,
    .venv,
    node_modules,
    .terraform,
    tests, # TODO - we really should be linting tests as well but they're full of line too long errors
