name: PR Deploy and Test

on:
  workflow_run:
    workflows: ["Quality Checks"]
    types:
      - completed

jobs:
  on-start:
    name: Workflow startup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      - name: Running Notification
        env:
          WORKFLOW_CONTEXT: ${{ github.event.workflow_run.conclusion }}
        run: |
          echo "Running pr-deploy-and-test..."
          echo $"WORKFLOW_CONTEXT"
          echo "---"

  on-quality-checks-success:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - run: echo "The Quality Checks workflow passed"

  on-quality-checks-failure:
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
      - run: echo "The Quality Checks workflow failed"

  deploy-internal-dev-backend:
    needs: [on-quality-checks-success]
    uses: ./.github/workflows/deploy-backend.yml
    with:
      apigee_environment: internal-dev
      create_mns_subscription: true
      environment: dev
      sub_environment: pr-${{github.event.pull_request.number}}

  run-e2e-automation-tests:
    needs: [deploy-pr-backend]
    strategy:
      matrix:
        apigee_environment_name: [internal-dev, internal-dev-sandbox]
        include:
          - apigee_environment_name: internal-dev
            required_test_suite: smoke
          - apigee_environment_name: internal-dev-sandbox
            required_test_suite: sandbox
    uses: ./.github/workflows/run-e2e-automation-tests.yml
    with:
      apigee_environment: ${{ matrix.apigee_environment_name }}
      environment: dev
      sub_environment: pr-${{github.event.pull_request.number}}
      service_under_test: all
      suite_to_run: ${{ matrix.required_test_suite }}
    secrets:
      APIGEE_PASSWORD: ${{ secrets.APIGEE_PASSWORD }}
      APIGEE_BASIC_AUTH_TOKEN: ${{ secrets.APIGEE_BASIC_AUTH_TOKEN }}
      APIGEE_OTP_KEY: ${{ secrets.APIGEE_OTP_KEY }}
      CIS2_E2E_USERNAME: ${{ secrets.CIS2_E2E_USERNAME }}
      STATUS_API_KEY: ${{ secrets.STATUS_API_KEY }}
